*, *:before, *:after  {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
// Remove excess padding on the right side of the webpage

body,
html {
	overflow-x: hidden !important;
	width: 100%;
}

//Default images
img {
  @media (max-width: $lg) {
		height: auto !important;
    width: 95% !important;
  }
}

// Keep footer at bottom of page
html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

footer {
	margin-top: auto;
}
// ================================================================================
// Default  text
h1 {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 1.85em;
	@media (max-width: $lg) {
		font-size: 1.25em;
	}
}

h2 {
	font-family: 'Cardo', serif;
	font-size: 1.35em;
	font-weight: 700;
	margin-bottom: 0px;
	@media (max-width: $lg) {
		font-size: 1.5em;
	}
}

h3 {
	font-family: 'Cardo', serif;
	font-size: 1.25em;
	font-weight: 700;
	margin-bottom: 0px;
	@media (max-width: $lg) {
		font-size: 1.50em;
	}
}

h4 {
	font-family: 'Cardo', serif;
	font-size: 1.15em;
	font-weight: 700;
	margin-bottom: 0px;
	@media (max-width: $lg) {
		font-size: 1.05em;
	}
}

h5 {
	font-family: 'Cardo', serif;
	font-size: 1.10em;
	font-weight: 700;
	margin-bottom: 0px;
	@media (max-width: $lg) {
		font-size: 1em;
	}
}

p {
	color: $dark;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 1em;
}

a,
li,
ul {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 1em;
	font-weight: 500;
}

ol,
ul {
    padding-left: 0.25em;
}
