
// Contact Form



// ============================================================================

// Search Bar

 // Sidebar - CHANGE THE WIDTH AND STYLE OF THE ARCHIVES DROPDOWN SELECT

#archives-dropdown-5{
  font-size: 1em;
	font-family: 'Libre Franklin', sans-serif;;
  width: 100%;
}

//  Sidebar - CHANGE THE WIDTH AND STYLE OF THE CATEGORIES DROPDOWN SELECT

#cat{
  font-size: 1em;
	font-family: 'Libre Franklin', sans-serif;;
  width: 100%;
}

//  Sidebar - CHANGE THE WIDTH OF THE SEARCH INPUT FIELD

#s{
  width: 100%;
}

// Sidebar - CHANGE THE SEARCH BUTTONS STYLE

#searchsubmit{
  color: white;
  background: $success;
  border: none;
  border-radius: 5px;
  font-size: 1em;
	font-family: 'Libre Franklin', sans-serif;
  margin-top: 8px;
  padding: 5px;
  width: 100%;
}

.search-nopage{
  width: 60% !important;
}

// Sidebar -  MAKE THE CUSTOM SIDEBAR HAVE NO BULLETS

.wp-tag-cloud ul, li{
  list-style-type: none;
}

// Mobile Nav - CHANGE DROPMENU POSITION

.navbar-nav .dropdown-menu {
  @media (max-width: 991.98px) {
    position: absolute !important;
  }
}

// Buttons

.btn-success {
    color: white !important;
    background-color: $success;
    border-color: $success;
    font-size: 1em;
}
