// Theme Logo
.logo {
  font-size: 1.75em;
  @media (max-width: $lg) {
    font-size: 1.5em;
  }
}

.siteTitle {
  font-size: 1.15em;
}
// Header Image
.headerImage {
  align-items: center;
  background-position: center;
  background-size: cover;
  display: flex;
  height: 70vh;
  justify-content: center;
  width: 100%;
  @media (max-width: $lg) {
    height: 25vh;
    width: 100%;
  }
}
// Default WP Images
.size-full {
  display: none;
}

.img-thumbnail {
  border: none;
  width: 95% !important;
}

.wp-caption-text {
  display: block;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  width: 800px;
  @media (max-width: $lg) {
    width: 250px;
    margin-left: 2px;
    margin-right: 2px;
  }
}

// Slideshow

.ngg-imagebrowser.default-view{
  margin: 0px !important;
}

.ngg-imagebrowser.default-view h3{
  display: none;
}

.ngg-imagebrowser-nav .counter{
  color: $dark;
}

// Blog pagination
.screen-reader-text {
  color: $dark;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 0.75em !important;
}

.page-numbers.current {
  font-size: 1em;
  font-weight: 700;
}

.nav-links {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-numbers {
  padding: 5px;
}
// Theme Footer
.footer-bg {
  background-color: $primary;
}

.footer-txt a,
i {
  color: white !important;
}

.menu-item {
  display: inline-flex;
  padding-right: 15px;
}

// Social Media Icons
.social-media-icons {
  font-size: 1.5em;
  display: inline-flex;
  letter-spacing: 0.5em;
  list-style-type: none;
}

// Cards
.card {
  border-radius: 10px;
  border-style: none;
}

.blog-post-bg {
  background-color: #f7f7f9;
  padding: 20px;
}
