
// Theme Logo

.logo{
  font-size: 1.75em;
  @media (max-width: 991.98px) {
    font-size: 1.5em;
  }
}


// Header Image

.headerImage{
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 991.98px) {
      width: 100%;
      height: 25vh;
    }
}


// Show/hide button

.ub-expand-toggle-button{
  text-align: center !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: $grey!important;
  color: white !important;
  border-radius: 5px;
  padding: 5px;
  width: 20%;
  @media (max-width: 991.98px) {
    width: 50%;
  }
}

//CTA Buttons

.ub-button-block-btn{
  border-radius: 10px !important;
}

// Default WP Images

img{
  @media (max-width: 991.98px) {
    width: 100% !important;
    height: auto !important;
  }
}

.size-full{
  @media (max-width: 991.98px) {
  width: 450px!important;
  height: auto !important;
}
  @media (min-width: 991.99px) {
  width: 800px!important;
  height: auto !important;
}
}

// Blog Pagination

.screen-reader-text{
  font-family: 'Libre Franklin', sans-serif;
	color: $grey;
  font-weight: 700;
	font-size: 0.75em !important;
}

.page-numbers.current{
  font-weight: 700;
  font-size: 1.15em;
}

.prev .page-numbers .next .page-numbers{
  padding-left: 50px !important;
  padding-right: 10px !important;
  font-style: italic;
}
